POSTGRES_USER=student_app
POSTGRES_PASSWORD=replace-with-a-long-random-database-password
POSTGRES_DB=student_app
POSTGRES_HOST=db
POSTGRES_PORT=5432

SECRET_KEY=replace-with-long-random-secret
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
BACKEND_CORS_ORIGINS=https://schoolcontrol.ru,https://www.schoolcontrol.ru

MAX_ENABLED=false
MAX_API_URL=https://platform-api2.max.ru
PUBLIC_API_URL=https://api.schoolcontrol.ru
MAX_BOT_TOKEN=
MAX_BOT_USERNAME=
MAX_WEBHOOK_SECRET=
